.search-bar{
  background-color: #212529;
}
.search-bar input {
    padding: 8px;
    border-radius: 50px;
    border: 1px solid #212529;
    color: aliceblue;
  }
  
  .search-bar input::placeholder {
    color: darkgray;
    opacity: 1;
}
  
.Button{
    transition: background-color 0.3s ease;
}
.Button:hover {
    background-color: #198754;
    
  }